/* Main css */

/* General setting */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #ccc;
}
body {
  font-family: "Open Sans", sans-serif;
  background: white;
  color: black;
  /* testing */
  line-height: 1.5;
  margin: 0;
}

a {
  color: #cda45e;
  text-decoration: none;
}

a:hover {
  color: #d9ba85;
  text-decoration: none;
}
img {
  max-width: 100%;
}
/* Container */
.container {
  width: 100%;
}
@media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
/* Preset: Light height */
.light-height-1{
  line-height: 1;
}
/* Preset: Text color */
.text-purple{
  color: purple;
}
/* Preset: Border */
.border-top-bottom-1px{
  border-top-width:1px;
  border-bottom-width:1px;
}
.border-bottom-2px{
  border-bottom-width:2px;
}
/* Preset: Padding */
.padding-left-right-1r {
  padding-left: 1rem;
  padding-right: 1rem;
}
.padding-top-bottom-dot5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.padding-top-left-5px {
  padding-top: 0.3125;
  padding-left: 0.3125;
}
.padding-8px{
  padding: 0.5rem;
}
.padding-3px{
  padding: 0.3px;
}
/* Preset: Position */
.position-relative {
  position: relative;
}
/* Preset: Margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-top-4px{
  margin-top: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Playfair Display", serif;
  margin: 0;
}

/* Navigation Bar */
.promotion-bar-top {
  background-image: linear-gradient(90deg, #d31e4b, #e6a2e4);
}
.header-bar-navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.header-category{

}
.logo {
  width: 20%;
  display: flex;
  /* test: add padding */
}
.search-bar {
  width: 60%;
  display: flex;
  
  border-style: solid;
  margin: 0.5rem;
  overflow: hidden;
  /* test */
  transform: scale(0.9);
}
.flex-1 {
  flex: 1 1;
}
.flex-basis-80 {
  flex-basis: 80%;
}
.user-header-bar {
  width: 20%;
  display: flex;
  /* margin-right: 0; */
  margin:1.2rem;
}
.search-form {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-width: 1px;
  border-radius: 1000px;
  border-style: solid;

}
.search-form:hover {
  border: 1px solid indigo;
}
.search-submit {
  background-color: transparent;
  background-image: none;
  flex-basis: 10%;
}
.search-input {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  letter-spacing: 1px;
  font-size: 0.75rem;
  height: 1.3rem;
  vertical-align: middle;
  letter-spacing: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.search-input:focus {
  outline-width: 0;
}
/* Preset: Basic */
.flex-wrap {
  flex-wrap: wrap;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-full {
  border-radius: 1000px;
}
.text-white {
  color: white;
}
.text-center {
  text-align: center;
}
.text-12 {
  font-size: 0.75rem;
}
.text-14 {
  font-size: 0.875rem;
}
.text-16 {
  font-size: 1rem;
}
/* Z-index */
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
/* Preset: Display */
.inline-block {
  display: inline-block;
}
.d-flex {
  display: flex !important;
}
.flex-row {
  flex-direction: row;
}
.flex-col{
  flex-direction: column;

}
.item-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.width-20 {
  width: 20%;
}
.width-25 {
  width: 25%;
}
.width-30 {
  width: 30%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-75 {
  width: 75%;
}
.width-100 {
  width: 100%;
}
.width-7-px {
  width: 7px;
}
.width-25-px {
  width: 25px;
}
.width-35-px {
  width: 35px;
}
.width-70-px {
  width: 70px;
}
.width-100-px {
  width: 100px;
}
.width-150-px {
  width: 150px;
}
.height-100{
  height: 100%;
}
.scale-1-3{
  transform: scale(1.3);
}
.max-width {
  max-width: 100%;
}
.height-6rem {
  height: 6rem;
}
.height-auto {
  height: auto;
}
.width-auto {
  width: auto;
}
.category-hoverable{
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 0.5rem;
  
  
}
.category-hoverable-content{
  display: none;
  position: block;
  background-color: #f1f1f1;
  padding-top: 1rem !important;
  border-radius: 5px;
  
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; */
  
}
.category-hoverable:hover {
  display: inline-block;
  background-image: linear-gradient(90deg, #d31e4b, #93188f);
  color: white;
  border-radius: 8px;
}

.category-hoverable:hover > .category-hoverable-content{
  display: block;
  background-image: linear-gradient(90deg, #d31e4b, #93188f);
  color: white;
}

.sub-menu-cover{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.sub-menu-cover:hover{
  background: white;
  color: black;

}
.category-hoverable-content{
  display: none;
  position: absolute;
  left: 0;
  z-index: 999;
}
/* Size for testing*/
.size-test{
  width: 100%;
  height: 340px;
}
/* Background color */
.bg-red{
  background-color: red;
}
/* Preset Hover */
.hover-top-color:hover{
  border-top-color: #b60238;
  border-top-width: 2px;
}
/* Brands */

/* .brand:hover > .test {
  color: red;
  display: inline-block;
} */
.sub-brand{
  /* display: none; */
  border: 1px;
  border-color: #93188f;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.display-none{
  display: none;
}
.slider-show{
  width: 100%;
  height: 430px;
}
/* Preset: Tab */
.tab{
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  font-size: large;

}
.tab button {
  
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 1rem;
  transition: 0.3s;
  font-size: 1rem;
}
.tab button:hover{
  border-top-color: #b60238;
  border-top-width: 2px;
}
.tab button.active-tabs{
  border-style: solid;
  border-bottom-color: #b60238;
  border-width: 0 0 2px 0;
}
.tabcontent {
  display: none;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-top: none;
}